In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\HP\Desktop\البندارى\بيفوتات\all_data\دمج البيفوتات النهائى.xlsx", sheet_name='Sheet1', index_col=None)
df.head()

,رقم البوستر,عدد البيفوتات,الشركة,رقم البيفوت,101 مساحة البيفوت,70 مساحة البيفوت,موقف الجسات تم,موقف الجسات متبقى,الصلاحية A,الصلاحية B,...,الصلاحية محول تنقيط,المساحة المنزرعة للبيفوت,مساحه غير الصالح,مساحة المحول تنقيط,موقف التسويات,قواعد البيفوت,عدد أجهزة الري المحوري,تركيب أجهزة الري المحوري,استلام الإشراف الزراعي,الزون
0,6,6,NaN,39,1.0,0,1,0,25.25,25.25,...,0,101.00,0.0,NaN,1,NaN,1.0,1.0,1,zone1
1,6,6,NaN,40,1.0,0,1,0,25.25,طفلة,...,0,75.75,0.0,25.25,1,NaN,1.0,1.0,1,zone1
2,6,6,NaN,41,1.0,0,1,0,25.25,25.25,...,0,101.00,0.0,NaN,1,NaN,1.0,1.0,1,zone1
3,6,6,NaN,42,1.0,0,1,0,25.25,25.25,...,0,101.00,0.0,NaN,1,NaN,1.0,1.0,1,zone1
4,6,6,NaN,43,1.0,0,1,0,25.25,25.25,...,0,101.00,0.0,NaN,1,NaN,1.0,1.0,1,zone1

In [4]:
df[['101 مساحة البيفوت', '70 مساحة البيفوت']]

      101 مساحة البيفوت 70 مساحة البيفوت
0                   1.0                0
1                   1.0                0
2                   1.0                0
3                   1.0                0
4                   1.0                0
...                 ...              ...
2003                1.0              NaN
2004                1.0              NaN
2005                1.0              NaN
2006                1.0              NaN
2007                1.0              NaN

[2008 rows x 2 columns]

In [8]:
df['مساحة البيفوت'] = df['101 مساحة البيفوت'].apply(lambda x: 101 if x == 1 else 70)

In [11]:
df.columns

Index(['رقم البوستر', 'عدد البيفوتات', 'الشركة', 'رقم البيفوت',
       '101 مساحة البيفوت', '70 مساحة البيفوت', 'موقف الجسات تم',
       'موقف الجسات متبقى', 'الصلاحية A', 'الصلاحية B', 'الصلاحية C',
       'الصلاحية D', 'الصلاحية محول تنقيط', 'المساحة المنزرعة للبيفوت',
       'مساحه غير الصالح', 'مساحة المحول تنقيط', 'موقف التسويات',
       'قواعد البيفوت', 'عدد أجهزة الري المحوري', 'تركيب أجهزة الري المحوري',
       'استلام الإشراف الزراعي', 'الزون', 'مساحة البيفوت'],
      dtype='object')

In [12]:
new_data = df[['رقم البوستر', 'عدد البيفوتات', 'الشركة', 'رقم البيفوت',
    'مساحة البيفوت', 'الصلاحية محول تنقيط', 'المساحة المنزرعة للبيفوت',
    'مساحه غير الصالح', 'مساحة المحول تنقيط', 'موقف التسويات','قواعد البيفوت',
    'تركيب أجهزة الري المحوري', 'الزون']]
new_data.head()

,رقم البوستر,عدد البيفوتات,الشركة,رقم البيفوت,مساحة البيفوت,الصلاحية محول تنقيط,المساحة المنزرعة للبيفوت,مساحه غير الصالح,مساحة المحول تنقيط,موقف التسويات,قواعد البيفوت,تركيب أجهزة الري المحوري,الزون
0,6,6,NaN,39,101,0,101.00,0.0,NaN,1,NaN,1.0,zone1
1,6,6,NaN,40,101,0,75.75,0.0,25.25,1,NaN,1.0,zone1
2,6,6,NaN,41,101,0,101.00,0.0,NaN,1,NaN,1.0,zone1
3,6,6,NaN,42,101,0,101.00,0.0,NaN,1,NaN,1.0,zone1
4,6,6,NaN,43,101,0,101.00,0.0,NaN,1,NaN,1.0,zone1

In [13]:
new_data.to_excel("زونات البيفوتات.xlsx", index=False)